:root {
    --header-color: #1b72e8;
    --sidebar-color: #071f36;

    --navbar-height: 80px;
    --sidebar-width: 200px;
    --header-height: 100px;
    
}


/* * NAVBAR * */
body > .navbar {
    background-color: white;
    min-height: var(--navbar-height);
}

.navbar-brand img:first-child { /* dekstop logo */
    display: block;
    width: 200px;
}

.navbar-brand img:last-child { /* mobile logo */
    width: 3em;
    display: none;
}

 #search-bar {
    width: 100%;
 }



/* * SIDEBAR * */
.sidebar {
    background-color: var(--sidebar-color);
    flex-basis: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
}


/* * HEADER * */
header {
    background-color: var(--header-color);
    width: 100%;
    min-height: var(--header-height);
}

h1 {
    display: inline;
}

header .badge {
    background-color: #165bba;
}


/* * MAIN CONTENT * */
.main-container {
    height: calc(100vh - var(--navbar-height));

}

main {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}